[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "lib/bootstrapcn"]
	path = lib/bootstrapcn
	url = git://github.com/wrongwaycn/bootstrapcn.git
